.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2d2d2d; 
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.backlogButton {
    background-color: #FFAD69;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 16px;
}

.backlogButton:hover {
    background-color: #e09e67; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    background-color: #535252; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.listItem:hover {
    background-color: #505050; }
