.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.tareaContainer{
    margin-bottom: 20px;
}

.tareaContainer :last-child{
    margin-bottom: 0px;
} 