.mainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px black solid;
    gap: 1rem;
    padding: 0.80rem;
    border-radius: 5px;
    background-color:#b4b4b481;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mainDiv:hover {
    cursor: pointer;
    background-color: #dadada81;
}

.mainDiv h1{
    font-size: 24px;
}

.fechaDiv p {
    white-space: nowrap; 
    margin: 0;
}

.flexDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;              
    font-size: 14px;
    gap: 0.2rem;  
}

.divBotones {
    display: flex;
    gap: 6px;
    margin-top: auto;
}

.divBotones button {
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}

.divBotones button:hover {
    transform: scale(1.1);  
}


.botonVisibility {
    background: #3f8b35;
    color: rgb(255, 255, 255);
}

.botonEdit {
    background: #5c60a5;
    color: rgb(255, 255, 255);
}

.botonDelete {
    background: #dd482e;
    color: rgb(255, 255, 255);
}

button:hover {
    cursor: pointer;
}

