.mainDiv{
    display:flex;
    flex-direction: row;
    border: 2px black solid;
    padding: 0.85rem;
}

.mainDiv:hover{
    cursor: pointer;
}

.divBotones{
    display: flex;
    flex-direction: row;
    gap:.2rem
}