.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titleContainer p{
    font-size: 30px;
    margin-right: 10px;
}

.crearTareaContainer{
    display: flex;
    flex-direction: row;
}

.crearTareaContainer button{
    background-color: #FFAD69;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.listasTareasContainer{
    width: 90%;
}

.mainDiv{
    width: 100%;
    background-color: rgba(108, 211, 176, 0.527);
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding:0.5rem;
    margin-top:1rem;
}


